:root {
    font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

/* Added CSS */
:root {
    text-align: left;
  }
  
  hr {
    margin-top: 2em;
    height: 1px;
  }
  
  button {
    min-width: 12em;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
  
    align-items: center;
    border-radius: 0.5em;
    margin-bottom: 0.5em;
    border: 1px solid transparent;
    padding: 0.8em 1.2em;
    font-size: 1em;
    font-weight: 500;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  button > img {
    width: 1.5em;
    height: 1.5em;
    margin-right: 1em;
    object-fit: contain;
  }
  
  button:hover {
    border-color: var(--primary-color);
  }
  
  button:first-child {
    margin-top: 0.5em;
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

a {
    font-weight: 500;
    color: var(--primary-color);
    text-decoration: inherit;
}

a:hover {
    color: var(--primary-hover);
}
  button:last-child {
    margin-bottom: 0;
  }
  